
/* CSS Styling */

h1 {
    text-align: center;
}

#cart {
    width: 3%;
    height: auto;
    position: absolute;
    top: 15px;
    right: 20px;
}

#sneaker-card {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-evenly;
}

#sneaker-card > div {
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    border: 6px black solid;
    height: 450px;
    width: 350px;
    padding: 10px;
}

#detail-div {
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    border: 6px black solid;
    height: fit-content;
    width: 350px;
    padding: 10px;
}

.shoe-img {
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: Impact, fantasy;
}

#review-div {
    border-top: 1px solid black;
}

#review-div > p {
    font-family: sans-serif;
    font-weight: lighter;
}

input[type=submit] {
    background-color: black;
    color: white;
    border-radius: 5px;
}

/* p {
    font-family: Impact, fantasy;
} */

/* #deatail-div > p {
    text-align: center;
    font-weight: bold;
}

#deatail-div h1 {
    font-family: Impact, fantasy;
} */
