
/* CSS Styling */

* {
    z-index: 0;
}

#sneeks {
    text-align: center;
    font-family: Impact, fantasy;
    font-size: 50px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 3px;
}

#cart {
    width: 3%;
    height: auto;
    position: absolute;
    top: 15px;
    right: 20px;
}

#sneaker-card {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-evenly;
}

#sneaker-card > .six-sneakers {
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    border: 6px black solid;
    height: 450px;
    width: 350px;
    padding: 10px;
}

#detail-div {
    border: 6px black solid;
    background-color: white;
    height: fit-content;
    width: 950px;
    padding: 10px;
    z-index: 1;

    position: absolute;
}

#detail-div h1 {
    font-family: Impact, fantasy;
    color: black;
    text-align: center;
}

#detail-div img {
    /* float: right; */
    margin: auto;
    width: 400px;
    height: auto; 
}

#detail-div h2{
    font-family: Impact, fantasy;
    text-align: center;
}

.shoe-img {
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: Impact, fantasy;
}

#review-div {
    border-top: 1px solid black;
}

#review-div > p {
    font-family: sans-serif;
    font-weight: lighter;
}

input[type=submit] {
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    height: 25px;
}

input[type=text] {
    border-radius: 5px;
    width: 20em;
    height: 1.5em;
}

#review-div h3 {
    /* font-family: Impact, fantasy; */
    font-size: 20px;
}